@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: BeautifulFont;
  src: url(./Assets/Fonts/6a1ed0dfa96e759e8395295a_BeautiqueDisplay-Italic.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* % -> vw, vh (vw- viewport width, vh - viewport height) */

main {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  /* background-color: white; */
  padding: 0% 5%;
  color: #fff;
}

.rght-nav {
  display: flex;
  gap: 2vw;
}

.rght-nav a {
  text-decoration: none;
  color: #fff;
}

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 15%;
  width: 100%;
  height: 100vh;
  background-image: url(./Assets/Images/bg01.png);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.para-section1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
}

.para-section1 p {
  font-size: 1.1vw;
  letter-spacing: 5px;
}

#para-section2 {
  padding: 0% 5%;
}

#section1 h1 {
  font-size: 18vw;
  font-family: BeautifulFont;
  font-weight: 400;
}

#para {
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 7%;
}

/* Section2 */

#section2 {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 30px;
}

.inner-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 5%;
}

.inner-section2 h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: -3px;
}
.inner-section2 .para-section1 {
  padding: 0;
}

.inner-section2 h1 span:nth-child(1) {
  align-self: flex-end;
}
.inner-section2 h1 span:nth-child(2) {
  align-self: flex-start;
}

.para-btm {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.para-btm p {
  width: 30%;
  font-size: 20px;
  letter-spacing: -0.5px;
}

#section3 {
  width: 100%;
  min-height: 120vh;
  background-color: black;
  color: #fff;
}
.s3-heading {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 5%;
}

.heading {
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: -3px;
}

.paragraph {
  font-size: 20px;
  letter-spacing: -0.5px;
}

#para-section3-lft {
  width: 60%;
  color: #ffffff94;
}

.photu-section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55vh;
}

.img-s3-1 {
  width: 55%;
  height: 100%;
  background-image: url(./Assets/Images/img3_1.png);
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
  background-position: center;
}

.img-s3-2 {
  width: 43%;
  height: 100%;
  background-image: url(./Assets/Images/img3_2.png);
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
}

.s3-details {
  display: flex;
  width: 100%;
  height: 30vh;
  padding: 5%;
}

.s3-det-lft {
  width: 50%;
  height: 100%;
}

.s3-det-lft h4 {
  color: #ffffff94;
  margin-bottom: 30px;
}

.s3-det-lft p {
  width: 85%;
}

.s3-det-rght {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  width: 50%;
  height: 100%;
}

.s3-det-rght ul {
  list-style: none;
}

.s3-det-rght ul li {
  margin-bottom: 10px;
}

/* Section4 */

#section4 {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding-bottom: 10vh;
}

#section4 .paragraph {
  color: #333;
  font-size: 18px;
}

.s4-card-p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70vh;
}

.s4-card {
  position: relative;
  width: 45%;
  height: 100%;
  background-color: lawngreen;
  border-radius: 10px;
  overflow: hidden;
}

.s4-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.img-det {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  top: 0%;
  width: 100%;
  height: 100%;
  /* background-color: orchid; */
  padding: 20px;
}

.img-date {
  width: 100%;
  height: 7%;
  background-color: rgba(0, 0, 0, 0.453);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.s4-card h4 {
  color: #fff;
}

.img-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  opacity: 0;
  transition: 0.5s;
}

.img-overlay h1 {
  background: -webkit-linear-gradient(0deg, #eee, #d426ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vw;
  font-weight: 500;
}

.s4-card:hover .img-overlay {
  opacity: 1;
}

.s4-card:hover .img-card {
  scale: 1.1;
}

/* Section 5 */
#section5 {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: #fff;
}

.s5-card-p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50vh;
  /* background-color: seagreen; */
}

.s5-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  width: 42%;
  height: 90%;
  border: 1px solid #d465e094;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.icon-5 {
  font-size: 70px;
  background: #000000;
background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(74, 28, 173, 1) 100%);
  padding: 10px;
  border-radius: 10px;
}

.s5-card ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.s5-card ul li{
  display: flex;
  gap: 10px;
}

.s5-para{
  color: #ffffff94;
}

.s5-badges{
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #d465e094;
  border-radius: 50px;
}

.s-5-circle{
  position: absolute;
  top: -50%;
  right: -20%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
 background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
filter: blur(100px);
opacity: 0.5;
}

.det-s5-p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20vh;
  /* background-color: white; */
}

.s5-det{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  width: 90%;
  height: 80%;
  /* background-color: rgb(254, 176, 176); */
  border: 1px solid #d426ff88;
  border-radius: 20px;
}

.s5-det button{
  padding: 10px 20px;
  background-color: white;
  border-radius: 50px;
  font-size: 18px;
  border: 1px solid #fff;
  transition: 0.5s;
}

.s5-det button:hover{
  border-radius: 1px;
}

.lft-s5-det p{
  color: #ffffff94;
  margin-top: 10px;
}


/* Section6 */

#section6{
width: 100%;
height: 100vh;
background-color: white;
color: #000;
}

#section6 .s3-heading p{
  color: #333;
  font-size: 16px;
}

.s6-card-p{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
}

.s6-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  height: 90%;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}

.s6-card .profile{
  width: 100px;
  height: 100px;

}

.s6-card .profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.s6-card p{
  color: #fff;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.s6-card .divider{
  width: 100%;
  height: 3px;
  background-color: white;
}

.s6-card h3{
  color: #fff;
}