@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: BeautifulFont;
  src: url(./Assets/Fonts/6a1ed0dfa96e759e8395295a_BeautiqueDisplay-Italic.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* % -> vw, vh (vw- viewport width, vh - viewport height) */

main {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  /* background-color: white; */
  padding: 0% 5%;
  color: #fff;
}

.rght-nav {
  display: flex;
  gap: 2vw;
}

.rght-nav a {
  text-decoration: none;
  color: #fff;
}

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 15%;
  width: 100%;
  height: 100vh;
  background-image: url(./Assets/Images/bg01.png);
  background-position: center;
  background-size: cover;
  color: #fff;
}

.para-section1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0% 10%;
}

.para-section1 p {
  font-size: 1.1vw;
  letter-spacing: 5px;
}

#para-section2 {
  padding: 0% 5%;
}

#section1 h1 {
  font-size: 18vw;
  font-family: BeautifulFont;
  font-weight: 400;
}

#para {
  text-align: center;
  font-size: 1.2vw;
  margin-bottom: 7%;
}

/* Section2 */

#section2 {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 30px;
}

.inner-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 5%;
}

.inner-section2 h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: -3px;
}
.inner-section2 .para-section1 {
  padding: 0;
}

.inner-section2 h1 span:nth-child(1) {
  align-self: flex-end;
}
.inner-section2 h1 span:nth-child(2) {
  align-self: flex-start;
}

.para-btm {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.para-btm p {
  width: 30%;
  font-size: 20px;
  letter-spacing: -0.5px;
}

#section3 {
  width: 100%;
  min-height: 120vh;
  background-color: black;
  color: #fff;
}
.s3-heading {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 5%;
}

.heading {
  font-size: 5vw;
  font-weight: 600;
  letter-spacing: -3px;
}

.paragraph {
  font-size: 20px;
  letter-spacing: -0.5px;
}

#para-section3-lft {
  width: 60%;
  color: #ffffff94;
}

.photu-section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55vh;
}

.img-s3-1 {
  width: 55%;
  height: 100%;
  background-image: url(./Assets/Images/img3_1.png);
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
  background-position: center;
}

.img-s3-2 {
  width: 43%;
  height: 100%;
  background-image: url(./Assets/Images/img3_2.png);
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
  background-position: center;
}

.s3-details {
  display: flex;
  width: 100%;
  height: 30vh;
  padding: 5%;
}

.s3-det-lft {
  width: 50%;
  height: 100%;
}

.s3-det-lft h4 {
  color: #ffffff94;
  margin-bottom: 30px;
}

.s3-det-lft p {
  width: 85%;
}

.s3-det-rght {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  width: 50%;
  height: 100%;
}

.s3-det-rght ul {
  list-style: none;
}

.s3-det-rght ul li {
  margin-bottom: 10px;
}

/* Section4 */

#section4 {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  padding-bottom: 10vh;
}

#section4 .paragraph {
  color: #333;
  font-size: 18px;
}

.s4-card-p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70vh;
}

.s4-card {
  position: relative;
  width: 45%;
  height: 100%;
  background-color: lawngreen;
  border-radius: 10px;
  overflow: hidden;
}

.s4-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.img-det {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  top: 0%;
  width: 100%;
  height: 100%;
  /* background-color: orchid; */
  padding: 20px;
}

.img-date {
  width: 100%;
  height: 7%;
  background-color: rgba(0, 0, 0, 0.453);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.s4-card h4 {
  color: #fff;
}

.img-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  opacity: 0;
  transition: 0.5s;
}

.img-overlay h1 {
  background: -webkit-linear-gradient(0deg, #eee, #d426ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4vw;
  font-weight: 500;
}

.s4-card:hover .img-overlay {
  opacity: 1;
}

.s4-card:hover .img-card{
    scale: 1.1;
}